      <ion-view title="'Info Susur Gua'" left-buttons="leftButtons">
        <ion-content has-header="true">
        <div id="box">
            <div class="list">
                <a href="#/map/info/tentang"class="item item-icon-left">Tentang Susur Gua</a>
                <a href="#/map/info/jenis" class="item item-icon-left">Jenis Gua</a>
                <a href="#/map/info/alat" class="item item-icon-left">Peralatan Susur</a>
                <!-- <a href="#/map/info/tingkat" class="item item-icon-left">Tingkat Kesulitan Gua</a> -->
                <a href="#/map/info/biota" class="item item-icon-left">Biota Gua</a>
                <!-- <a href="#/map/info/ornamen" data-click class="item">Ornament Gua</a> -->
            </div>
        </div>
        </ion-content>
      </ion-view>